@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  :root {
    --background: #222;
    --foreground: #ddd;
    --link: #4bf;
    --link-hover: color-mix(in srgb, #000 15%, var(--link));
  }
  
  html, body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
  
  * {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }

  a, a:visited {
    @apply text-[var(--link)] no-underline;
  }

  a:hover {
    @apply text-[var(--link-hover)];
  }

  main {
    @apply px-4 py-2 min-h-[calc(100vh-48px)];
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-lg;
  }
}
